/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */ 

 .header {
    background-color: black;
    height: 50px;
    width: 100%;
 }

 #header_title {
     color: whitesmoke;
     margin: auto;
     text-align: center
 }

 #homelink {
     height: 200px;
     width: auto;
 }
 

.tableWithBackground { position: relative; }
.tableBackground {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 350px;
}
/* 
table, td {
    border-collapse: collapse;
    border: 1px solid red;
} */

a { text-decoration: none; color:goldenrod } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:goldenrod; }
a:hover { text-decoration: underline; color:goldenrod; }

